/* ================= LOGIN BUTTON ================= */

.login-btn{
    background:#00C853;
    padding:10px 20px;
    border-radius:25px;
    color:#fff !important;
    transition:0.3s;
}

.login-btn:hover{
    background:#009624;
    color:#fff !important;
}

/* ================= MAIN ================= */

main{
    min-height:60vh;
}

/* ================= FOOTER ================= */

.footer-section p{
    line-height:1.8;
    color:#ddd;
}

.footer-section i{
    margin-right:8px;
    color:#FFD54F;
}

.footer-section a{
    display:inline-block;
    margin-bottom:8px;
    transition:0.3s;
}

.footer-section a:hover{
    color:#FFD54F;
}

/* ================= COPYRIGHT ================= */

.copyright{
    background:#081b33;
    color:#ccc;
    text-align:center;
    padding:15px;
    font-size:14px;
}

/* ================= CONTACT ================= */

.contact-box{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.contact-info,
.contact-form{
    background:#fff;
    padding:30px;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:6px;
}

.contact-form button{
    background:#0c6cf2;
    color:#fff;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;
}

.contact-form button:hover{
    background:#084298;
}

/* ================= CAREERS ================= */

.job-card{
    background:#fff;
    padding:30px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.job{
    padding:20px 0;
    border-bottom:1px solid #eee;
}

.job:last-child{
    border:none;
}

.job button{
    background:#0c6cf2;
    color:#fff;
    border:none;
    padding:10px 18px;
    border-radius:5px;
    cursor:pointer;
}

.job button:hover{
    background:#084298;
}

/* ================= UPDATES ================= */

.update-card{
    background:#fff;
    padding:25px;
    margin-bottom:20px;
    border-left:5px solid #0c6cf2;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.update-card h3{
    margin-bottom:10px;
}

.update-card small{
    color:#777;
}

.update-card p{
    margin-top:12px;
    line-height:1.8;
}

/* ================= RESPONSIVE ================= */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    nav{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    nav a{
        margin:0;
    }

    .hero{
        text-align:center;
        padding:50px 20px;
        justify-content:center;
    }

    .hero h1{
        font-size:40px;
    }

    .hero p{
        width:100%;
    }

    footer{
        text-align:center;
    }
}